{% extends "layouts/base.html" %}
{% block body %}
<section class="hero is-fullheight" style="background-color: whitesmoke;">
  <div class="hero-body">
    <div class="container">

      <h1 class="title is-1" id="signup">{% block title %}{% endblock %}</h1>

      <div class="columns">
        <div class="column is-4">

          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-dark">
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
          {% endwith %}

          {% block content %}{% endblock %}

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}

<!-- layouts/base.html -->
