{% extends "account/_layout.html" %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('account.manage', 'Account information'),
    ('account.change_email_request', 'Change email address'),
    ('account.change_password', 'Change password')
] %}

{% import 'macros/sidebar_nav.html' as s %}

{% macro user_info(user) %}
    <table class="ui compact definition table">
        <tr><td>{{ gettext("Full name") }}</td><td>{{ '%s %s' % (user.first_name, user.last_name) }}</td></tr>
        <tr><td>{{ gettext("Email address") }}</td><td>{{ user.email }}</td></tr>
        <tr><td>{{ gettext("Account type") }}</td><td>{{ user.role.name }}</td></tr>
    </table>
{% endmacro %}

{% block title %}{{ gettext("Account") }}{% endblock %}

{% block content %}
<div class="columns">
  <div class="column is-offset-2">
    <h4 class="title is-4 has-text-grey-light">{{ gettext("Change Your Email") }}</h4>

    <div class="content">
      <p>{{ gettext("Manage your account settings and change your login information.") }}</p>
    </div>

    {% if form %}
        {{ f.render_form(form, extra_classes='fluid') }}
    {% else %}
        {{ user_info(user) }}
    {% endif %}

  </div>
</div>
{% endblock %}
{% block sidebar %}
{{ s.navigation(endpoints) }}
{% endblock %}
