{% extends "account/_layout.html" %}
{% block subtitle %}Change password{% endblock %}
{% block page %}
<form method="POST" action="">
  <div class="field">
    <label class="label">{{ form.old_password.label }}</label>
    <div class="control">
      {{ form.old_password(class_="input") }}
    </div>
  </div>

  <div class="field">
    <label class="label">{{ form.new_password.label }}</label>
    <div class="control">
      {{ form.new_password(class_="input") }}
    </div>
  </div>

  <div class="field">
    <label class="label">{{ form.new_password2.label }}</label>
    <div class="control">
      {{ form.new_password2(class_="input") }}
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">{{ gettext("Update password") }}</button>
    </div>
  </div>
</form>
{% endblock %}
