<p>{{ gettext("Dear ") }} {{ user.full_name() }},</p>

<p>{{ gettext("To reset your password, ") }}<a href="{{ reset_link }}">{{ gettext("click here") }}</a>.</p>

<p>{{ gettext("Alternatively, you can paste the following link in your browser's address bar: ") }}</p>

<p>{{ reset_link }}</p>

<p>{{ gettext("If you have not requested a password reset, simply ignore this message. ") }}</p>

<p>{{ gettext("Sincerely, ") }}</p>

<p>{{ gettext("The ") }} {{ config.APP_NAME }} {{ gettext(" Team") }}</p>

<p><small>{{ gettext("Note: replies to this email address are not monitored.") }}</small></p>
