<div class="search">
  <div class="field has-addons has-addons-centered is-hidden-mobile">
    <!--
    <p class="control">
      <span class="select">
        <select name="type" v-model="search.type">
          <option value="buy">Buy material</option>
          <option value="sell">Sell material</option>
        </select>
      </span>
    </p>
    -->
    <p class="control">
      <span class="select">
        <select name="category" v-model="search.category" required>
          {% for key, value in rec_category.items() %}
          <option value="{{ key }}"{% if key == category %} selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </span>
    </p>
    <div class="control">
      <input class="input" type="text" v-model="search.keyword" placeholder="Search by Keyword" style="min-width:300px;" v-on:keypress:enter="runSearch()">
    </div>
    <p class="control">
      <span class="select">
        <select name="country" v-model="search.country" style="max-width: 200px;">
          {% for key, value in countries.items() %}
          <option value="{{ key }}">{{ value }}</option>
          {% endfor %}
        </select>
      </span>
    </p>
    <div class="control">
      <a class="button is-primary" v-on:click="runSearch()">
        {{ gettext("Search") }}
      </a>
    </div>
  </div>
  <div class="field is-hidden-tablet">
    <p class="control is-expanded">
      <span class="select is-fullwidth">
        <select name="category" v-model="search.category" required>
          {% for key, value in rec_category.items() %}
          <option value="{{ key }}"{% if key == category %} selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </span>
    </p>
  </div>
  <div class="field is-hidden-tablet">
    <p class="control is-expanded">
      <span class="select is-fullwidth">
        <select name="country" v-model="search.country">
          {% for key, value in countries.items() %}
          <option value="{{ key }}">{{ value }}</option>
          {% endfor %}
        </select>
      </span>
    </p>
  </div>
  <div class="field is-hidden-tablet">
    <div class="control">
      <a class="button is-primary" v-on:click="runSearch()">
        {{ gettext("Search") }}
      </a>
    </div>
  </div>
</div>
